<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-08">

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
        <div class="block">
          <p>Since 2014</p>
        </div>
      </div>
    </div>

    <a class="sidebar-nav" href="/about.html"></a>
    <div class="nav">
      <a href="http://tricks.youknowmymind.com/bcho">@tricks</a>
      <span class="sep">/</span>
      <a href="https://github.com/bcho">@github</a>
    </div>
  </body>
</html>
